<!-- header -->
<header class="ds-header" id="site-header">
  <div class="container">
    <div class="ds-header-inner">
      <!-- logo -->
      <a href="/" class="ds-logo"> <span>N</span>Bich Ngoc Le </a>
      <!-- logo -->
      <!-- social -->
      <ul class="ds-social">
        <li>
          <a href="/about">ABOUT</a>
        </li>
        <li>
          <a href="#">SKILL</a>
        </li>
        <li>
          <a href="#">EXPERIENCE</a>
        </li>
        <li>
          <a href="#">WORKS</a>
        </li>
      </ul>
      <!-- social -->
    </div>
  </div>
</header>
<!-- header -->
